# === OS & IDE ===
.DS_Store
Thumbs.db
.idea/
.vscode/

# === Java / Spring Boot ===
target/
build/
*.class

# === 환경변수 / 설정 파일 ===
.env
application.properties
application.yml

# === 빌드 산출물 ===
*.jar
*.war


# Gradle 캐시
.gradle/
